{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
</head>

<body>

    {% block 'content' %} 

    {% if request.user.is_authenticated %}

    <div class="user-container">
    <h1 class="loggedin-user">Hello {{request.user}}</h1>
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
    <div>

    {% else %}

    <a href="{% url 'login' %}" class="login-btn">Login</a>

    {% endif %}

    {% endblock 'content' %}
</body>

</html>